
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

mat-card {
  padding: 24px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  font-size: 1.75rem;
  color: #333;
}

mat-card-content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 16px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
